<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <title>finalprojectj</title>
</head>

<body>


  <div class="preloader">
    <svg class="progress-ring" width="200" height="200">
      <circle class="progress-ring__circle" stroke="#DC56C5" stroke-width="10" fill="transparent" r="90" cx="100"
        cy="100" />
    </svg>
    <div class="preloader__logo">
      <img src="./img/preloader.png" alt="Event Booster">
    </div>
  </div>

  <%- include('src/header.html') %>
    <%- include('src/boosters.html') %>
      <%- include('src/main.html') %>
        <%- include('src/footer.html') %>

          <script type="module" src="/src/main.js"></script>
          <!-- <script type="module" src="./src/main.js"></script> -->

          <script src="https://www.gstatic.com/firebasejs/10.4.0/firebase-app.js"></script>
          <script src="https://www.gstatic.com/firebasejs/10.4.0/firebase-auth.js"></script>

          <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</body>

</html>