* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --violet: #dc56c5;
  --font-weight-capcher-item: bold;
  --monsterat: "Montserrat", sans-serif;
}

body {
  background-color: rgb(80, 75, 75);
}

header {
  padding-top: 40px;
}

.container {
  width: 1080px;
  padding: 0 15px;
  margin: 0 auto;
  outline: solid 1px red;
}

h1 {
  color: var(--violet);
  font-weight: var(--font-weight-capcher-item);
  font-family:  var(--monsterat);
  font-size: 50px;
  font-weight: 900;
  width: 589px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 52px;
}

.logosvg {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 477px;
  height: 200px; */
  fill: red;
}

.searchform {
  width: 570px;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 133px;
}

.searchform input {
  width: 260px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-left: 10px;
}

.options {
  width: 270px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-left: 10px;
}

.list_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 0 auto; */
  text-align: center;
}

.item_capcher {
  color: var(--violet);
  font-size: 16px;
  font-family: var(--monsterat);
  font-weight: bold;
}

.item_photo {
  width: 180px;
  height: 227px;
}